.centrar{
    justify-content: center;
        text-align: center;
        margin-top: 3rem;
    }
    .centrarlorem{
        justify-content: center;
        text-align: left;
        margin-left: 7rem;
        margin-right: 7rem;
        margin-top: 1.1rem;
    }
    
    
    ul{
    margin-left: 11rem;
    }
    
    
    .gatitos-cesta{
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 3rem auto 3rem 7rem
    }
    
    .perritos{
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 3rem auto 3rem 7rem
    } 
    .gatos{
        width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 3rem auto 3rem 7rem
    }

   .perros{
    width: 150px;
        height: 150px;
        overflow: hidden;
        margin: 3rem auto 3rem 7rem
   }

   .volver{
    
   }